.page-container {
  display: grid;
  grid-template-areas: 
    "nav"
    "content";
  grid-template-rows: 54px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
}

.page-content-container {
  grid-area: content;
}