body {
  background-color: #292929;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.app {
}

.page-container {
  margin-top: 10%;
} 

.home-greeting {
  text-align: center;
  font-weight: 100;
}

/* Footer & Footer Links */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 1.5rem;
  text-align: center;
  color: #8f8f8f;
  font-size: 1.5rem;
}
.footer-links {
  font-size: 1.25rem;
}

.footer-links:link {
  color: #8f8f8f;
  background-color: transparent;
  text-decoration: none;
}

.footer-links:visited {
  color: #8f8f8f;
  background-color: transparent;
  text-decoration: none;
}

.footer-links:hover {
  color: #8f8f8f;
  background-color: transparent;
}

.footer-links:active {
  color: #8f8f8f;
  background-color: transparent;
}



/* .orange-pop {
  color: #ffbd59;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.blue-pop {
  color: #5ce1e6;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
} */