body {
  background-color: #292929;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.logo {
  background-color: #292929;
  cursor: pointer;
}

.app {
}

.page-container {
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
} 

.home-greeting {
  margin: 0;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 2.25rem;
}

.home-paragraph {
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}

.orange-pop {
  color: #ffbd59;
  font-family: 'Roboto', sans-serif;
  font-weight: 525;
  font-size: 5rem;
  text-align: center;
  margin:0;
}

.blue-pop {
  color: #5ce1e6;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
}

/* Footer & Footer Links */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 1.5rem;
  text-align: center;
  color: #8f8f8f;
  font-size: 1.5rem;
}
.footer-links {
  font-size: 1.25rem;
}

.footer-links:link {
  color: #8f8f8f;
  background-color: transparent;
  text-decoration: none;
}

.footer-links:visited {
  color: #8f8f8f;
  background-color: transparent;
  text-decoration: none;
}

.footer-links:hover {
  color: #8f8f8f;
  background-color: transparent;
}

.footer-links:active {
  color: #8f8f8f;
  background-color: transparent;
}
