.light-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.regular-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a:link {
  color: #8f8f8f;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #8f8f8f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #8f8f8f;
  background-color: transparent;
}

a:active {
  color: #8f8f8f;
  background-color: transparent;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
  color: #8f8f8f;
}

b {
  font-size: larger;
}

.orange-pop {
  color: #ffbd59;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.blue-pop {
  color: #5ce1e6;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 50%;
}

/* Control the right side */
.right {
  right: 0;
  padding-right: 10%;
  width: 50%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.greeting {
  width: 100%;
  padding-left: 10%;
}

.profile-pic {
  padding-right: 10%;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150%;
  border-radius: 100%;
}

.centered h1 {
  font-size: 2em;
  text-align: left;
}

.centered p {
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}
